/* SpinWheel.css */
.spin-wheel-container {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.wheelRing {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.wheel {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  transition: transform 3s ease-out; /* 平滑旋转效果，持续时间与JS一致 */
}

.pointer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  /* top: 50%;
  transform: translateY(-70%);
  left: calc(50% - 20px);  */
  left: calc(50% - 20px);
  z-index: 10;
}

/* .spin-btn {
  margin-top: 300px;
  padding: 10px 20px;
  font-size: 16px;
} */

.prize-result {
  margin-top: 20px;
  font-size: 20px;
  color: green;
}
