@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

document {
  height: auto;
  overflow: hidden;
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
  overflow-x: hidden;
}

#root {
  height: 100%;
}

#appRoot {
  height: 100%;
}

.tgui-8ca550c2fc85eff5 {
  padding: 0;
}

/* cell */
/* .tgui-b8dfba0b5c3d054c {
  padding: 0;
} */

.no-padding-cell {
  padding: 0 !important;
  gap: 10px !important;
}
